$font-family-base: 'Mulish', sans-serif !important;
$bg-color-dark: #2D2D2D;
$bg-color-light: #F8F8F8;
$text-color-dark: #2D2D2D;
$text-color-light: #F8F8F8;
$primary-color: #5A67D8;

body {
    font-family: $font-family-base;
    background-color: $bg-color-light;
    color: $text-color-dark;
}

.sidebar {
    height: 100vh;
    background-color: $bg-color-dark;
    .sidebar-header {
        font-weight: bold;
    }
    .nav-link {
        color: $text-color-light !important;
        &.active {
            background-color: $primary-color;
        }
    }
}

.card {
    border: none;
    border-radius: 8px;
    h5 {
        font-weight: 600;
        color: $text-color-dark;
    }
    h2 {
        font-weight: 700;
    }
}

.card-overdue {
    background-color: $bg-color-light; // Same background as other cards
    &:hover {
        h5, h2 {
            color: $primary-color; // Changes text color to blue on hover
        }
    }
}

//구분선
.card p {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd; // 구분선 색상 설정

    &:last-of-type {
        border-bottom: none; // 마지막 숫자 아래에는 구분선 제거
    }
}

//vertical line
.vertical-divider {
    border-left: 1px solid rgba(0, 0, 0, 0.2); // 세로선 색상과 두께
    height: 24px; // 세로선 길이 설정
    margin: 0 0.5rem; // 양옆 여백 추가
}
.divider {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); // 구분선 색상 설정
    margin: 0.5rem 1rem; // 위아래 여백 추가
}

//higt-100
.card-equal-height {
    min-height: 500px; // 원하는 높이로 설정 (예: 500px)
}
